input, textarea, select {
	background: #6e6e6e !important;
    background: rgba(169,169,169,0.3) !important;
    border: 1px solid #6e6e6e !important;
    color: #fff !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    padding: 12px !important;
    text-transform: uppercase !important;    
}
.paquete {
	margin-top: 20px;
}
.beneficios {
	padding-left: 30px !important;
	text-align: center;
}
.beneficios_img {
	padding-top: 20px;
	text-align: center;
}
@media (max-width: 992px) {
	.beneficios_img {
		padding-top: 10px;
		text-align: center;
	}
	.beneficios {
		padding-left: 0px !important;
	}

}
@media (max-width: 768px) {
	.beneficios_row {
		text-align: center;
	}
	.row {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}
.servicio {
	background-color: rgba(255,255,255,0.7);
	min-height: 380px;
	min-width: 263px;
	max-width: 360px;
	margin: auto;	
	border-radius: 8px;
	padding-bottom: 0px;
	padding-top: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	border: solid 1px white;
}
.servicio_head {	
	height: 80px;
	border-radius: 8px 8px 0px 0px;
	text-align: center;
}
.servicio_head p {
	line-height: 40px;
	text-align: center;
	color: #222524;
	font-size: 25px;	
}
.servicio_body {
	text-align: center;	
	overflow: hidden;
	height: 120px;
	vertical-align: middle;
	display: table-cell;
}
.servicio_body p{	
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}
.servicio_footer {
	text-align: center;
	overflow: hidden;
}

.btn-nuevo {
	display: inline !important;
	background: #92D050;
	color:#fff;
	font-size: 12px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 5px;
	margin-bottom: 0px; 
}
.btn-nuevo:hover {
	cursor: default;
	color: #fff !important;
}
.btn-success {
	background-color: #92D050 !important;
	height: 40px;
}
.btn-primary {
	background-color: #058CBD !important;
	height: 40px;
}
.btn-contratar {
	background: #058CBD;
	display: inline !important;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 5px;
	margin-bottom: 0px;
	margin-top: 10px; 

}
.minutos {	
	font-size: 30px !important;
}
.precio {
	padding-top: 0px !important;
	font-size: 20px !important;
}
.colegio {
	border-right: 2px solid #92D050;
	text-align: center;	
}
.precio span {
	font-size: 20px;
}
.servicio_caracteristica {
	text-align: center;
	font-size: 20px !important;
	padding-left: 0px !important;
	margin-left: 30px;
	margin-right: 30px;	
	padding-bottom: 16px;
	margin-bottom: 0px !important;
}

.nosotros {
	padding-top: 100px;
}
.overflow {
	background-image: url('../img/heading-bg.png');
	background-repeat: repeat;
}
.modal-title {
	text-align: center;
}
.regis {
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	color: #333 !important;
	text-transform: none !important;
}
#precioregistro {
	text-transform: none !important;
	display: none;
}
#precioregistro2 {
	text-transform: none !important;
	display: none;
}
.btn-facebook {	
	background-color: #3b5998;
	color: #fff;
	border-radius: 5px;
	border: 0px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 14px;
}
.fa-facebook {
	font-size: 20px !important;
	padding-right: 5px;
}
.modal-footer {
	text-align: center;
}
#response_correo {
	display: none;
}
#respuesta_correo {
	color: #D03232;
}
.chat_tutorlider {
	position: fixed;
	bottom: 50px;
	z-index: 10000000000;
	right: 0px;
}