/*Todos los derechos Reservados Tutor Líder 
** Autor : Jhony Díaz;
** Intranet */
/*cabecera*/
html, body {
	font-family: sans-serif;
	line-height: normal;
	background-color: #222D32;
	height: 100%;
}
#body {
	min-height: 100%;
}
.header {
	max-height: 100px;
	width: 100%;
	position: relative;	
	z-index: 1000;
}
.header-logo {
	text-align: center;
	width: 230px;
	background-color: #0787B5;
	height: 50px;
	z-index: 1500;
	position: absolute;
	top: 0;
	left: 0;
}
.header-logo img {
	height: 50px;

}
.menu-alertas {
	padding-left: 230px;
	height: 50px;
	width: 100%;
	background-color: #00B0F0;
}
.menu-alertas a {
	padding: 15px 15px;
	
	color: #fff;
	line-height: 50px;
	font-size: 30px;
}
@media (max-width: 768px) {
	.header-logo {
		position: static !important;
		width: 100%;
	}
	.menu-alertas {
		padding-left: 0px;
	}
}

/*menu*/
.menu-principal {
	padding-top: 50px;
	width: 230px;
	background-color: #222d32;
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	color: #fff;
	z-index: 500;
}
@media (max-width:768px) {
	.menu-principal {		
		-webkit-transform: translate(-230px, 0);
    	-ms-transform: translate(-230px, 0);
    	-o-transform: translate(-230px, 0);
    	transform: translate(-230px, 0);
    	transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
	}
	.open .menu-principal {
		padding-top: 100px;
		-webkit-transform: translate(0px, 0);
    	-ms-transform: translate(0px, 0);
    	-o-transform: translate(0px, 0);
    	transform: translate(0px, 0);
    	transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
	}	
}

.usuario img {
	margin-top: 10px;
	margin-left: 10px;
	width: 20%;	
}
.usuario span {
	padding-left: 10px;
}
.menu-navegacion {
	list-style: none;
	padding-left: 0px;	
}
.menu-navegacion li {
	padding: 10px;
}
.menu-navegacion a{
	text-decoration: none;
	color: #b8c7ce;	
	padding-left: 15px;
	font-size: 16px;	
}
.menu-navegacion li:hover{
	background-color: #1e282c;
	border-left: solid 3px #00B0F0; 
	color: #fff !important;	
}
.activo {
	background-color: #1e282c;
	border-left: solid 3px #00B0F0; 
	color: #fff !important;	
}
.menu-navegacion .separador {
	background-color: #1a2226;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;		
}
li[class='separador']:hover {
	border-left: solid 0px #00B0F0 !important; 		
}
/*contenido*/
.blockcontenido {
	min-height: 100%;
	margin-left: 230px;	
	background-color: #f3f3f4;
	position: static;
    overflow: hidden;
}
@media (max-width: 768px) {
	.blockcontenido {
		margin-left: 0px;
		-webkit-transform: translate(0px, 0);
    	-ms-transform: translate(0px, 0);
    	-o-transform: translate(0px, 0);
    	transform: translate(0px, 0);    	
	}
	.open .blockcontenido {
		-webkit-transform: translate(230px, 0);
    	-ms-transform: translate(230px, 0);
    	-o-transform: translate(230px, 0);
    	transform: translate(230px, 0);
    	transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
	}
}
.contenido {
	padding: 15px 15px 15px 15px;
	background-color: #fff;
	border: 1px solid #e7eaec;
	border-top: 5px solid #e7eaec;
	overflow: hidden;
}
.confirmar {
	margin-top: 10px;
	border-top: 0px;	
}
.alert-danger {
	background-color:#d33724 !important;
	color: #fff !important;
	padding: 15px; 
}
.alert-danger1 {
	color: #a94442;
	background-color:#f2dede !important;
	border-color: #ebccd1;
	color: #fff !important;
	padding: 15px; 
}
.alert-success {
	background-color:#00a65a !important;
	color: #fff !important;
	padding: 15px; 
}
.alert-info {
	background-color:#00c0ef !important;
	color: #fff !important;
	padding: 25px; 
}
.alert-warning {
    background-color:#f8ac59 !important;
	color: #fff !important;
	padding: 15px; 	
}
@media (max-width: 992px) {
	.confirmar {
		text-align: center;
	}
}
.contenido-panel {
	background-color: transparent;
	padding: 15px 15px 0px 15px;
}
.contenido .encabezado {
	margin-bottom: 20px;
}
.encabezado {
	font-size: 20px !important;
}
.encabezado a{
	font-size: 25px !important;
}
/*paneles colores*/
.cajas {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}
.cajas p {	
	margin-bottom: 0px;
	font-size: 14px;
	text-align: right;
	padding-right: 15px;
}
.panel-verde {
	background-color: #00a65a !important;
	color: #fff;
	border-radius: 3px;
}
.panel-celeste {
	background-color: #00c0ef !important;
	color: #fff;
	border-radius: 3px;
}
.panel-naranja {
	background-color: #f8ac59;
	color: #fff;
	border-radius: 3px;
}
.panel-rojo {
	background-color: #d33724 !important;
	color: #fff;
	border-radius: 3px;
}
.sub {
	background-color: rgba(0, 0, 0, 0.15);
	padding: 5px;	
}
.sub a{
	text-decoration: none;
	color:rgba(255, 255, 255, 0.82);
}
.panel-numero {
	font-size: 50px;
	padding-right: 15px;	
	margin-top: 10px;	
}
.panel-icono {
	font-size: 80px;
	padding-left: 10px;
}
/*Clases confirmada*/
.tiempoclase {
	font-size: 20px;
	padding-top: 8px;
}
.tutorselec {
	font-size: 18px;
	padding-bottom: 8px;
}
.comunicado {
	font-size: 16px;
}
.contenido ul li {		
	background-image: url('imagen/arrow.png') !important;
}
/*Avisos*/
.label {
	border:1px solid;
}
.aviso td {
	margin: 10px;
}
.aviso tr {
	margin-top: 5px;
}
.paquete {
	margin-top: 20px;
}
.servicio {
	background-color: rgba(255,255,255,0.7);
	min-height: 380px;
	min-width: 263px;
	max-width: 360px;
	margin: auto;	
	border-radius: 8px;
	padding-bottom: 0px;
	padding-top: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	border: solid 1px white;
}
.servicio_head {	
	height: 80px;
	border-radius: 8px 8px 0px 0px;
	text-align: center;
}
.servicio_head p {
	line-height: 40px;
	text-align: center;
	color: #222524;
	font-size: 25px;	
}
.servicio_body {
	text-align: center;	
	overflow: hidden;
	height: 120px;
	vertical-align: middle;
	display: table-cell;
}
.servicio_body p{	
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}
.servicio_footer {
	text-align: center;
	overflow: hidden;
}
.btn-nuevo {
	display: inline !important;
	background: #92D050;
	color:#fff;
	font-size: 12px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 5px;
	margin-bottom: 0px; 
}
.btn-nuevo:hover {
	cursor: default;
	color: #fff !important;
}
.btn-success {
	background-color: #92D050 !important;
	height: 40px;
}
.btn-primary {
	background-color: #058CBD !important;
	height: 40px;
}
.btn-contratar {
	background: #058CBD;
	display: inline !important;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 5px;
	margin-bottom: 0px;
	margin-top: 10px; 

}
.minutos {	
	font-size: 30px !important;
}
.precio {
	padding-top: 0px !important;
	font-size: 20px !important;
}
.colegio {
	border-right: 2px solid #92D050;
	text-align: center;	
}
.precio span {
	font-size: 20px;
}
.servicio_caracteristica {
	text-align: center;
	font-size: 20px !important;
	padding-left: 0px !important;
	margin-left: 30px;
	margin-right: 30px;	
	padding-bottom: 16px;
	margin-bottom: 0px !important;
}
